body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.site-conteiner {
    background-color: #ffffff;
    border: 2px solid rgb(255, 192, 203);
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: auto;
    font-weight: bolder;
    background-color: pink;
    overflow: hidden;
}
    .header .menu{
        /*border: solid 4px red;*/
    }
    .header .menu li{
        /*border: solid 2px black;*/
        background-color: plum;
        display: block;
        float: left;
        width: 200px;
        text-align: center;
        line-height: 32px;
        color: purple;
    }

    .header .menu li:hover { /* :hover é um pseudo-classe que é ativado quando o mouse passa por cima do elemento */
        background-color: rgb(255, 242, 244);

    }

    .header .menu li a{
        text-decoration: none;
        color: inherit; /* inherit é herdar essa configuração do elemento "pai" */
        display: block; /*ou poderia usar o inherit*/
    }

.footer {
    height: 90px;
    font-weight: bold;
    background-color: rgb(255, 192, 203);
}

.main {
    height: 300px;
    font-weight:normal;
    background-color: rgb(255, 242, 244);
}